#container {
display: flex;
border: solid red;
flex-direction: column;
align-items: start;
justify-content: start;
}

#round {
width: 100px;
height: 100px;
border: solid blue;
flex: 1;
}

#banner {
width:100px;
height: 100px;
border: solid purple;
flex: 1;
}

#rps {
width:100px;
height: 100px;
border: solid blue;
display: flex;	
flex: 1;
flex-direction: row;
align-items: center;
justify-content: center;
}

#rockdiv {
width:100px;
height: 100px;
border: solid green;
flex: 1;
border: solid green;
}

#paperdiv {
width:100px;
height: 100px;
border: solid green;
flex: 1;
}

#scissorsdiv {
width:100px;
height: 100px;
border: solid green;
flex: 1;
}

#score {
width:100px;
height: 100px;
display: flex;
border: solid blue;
flex: 1;
flex-direction: row;
align-items: center;
justify-content: center;
}

#cscore {
width:100px;
height: 100px;
border: solid purple;
flex: 1;
}

#pscore {
width:100px;
height: 100px;	
border: solid purple;
flex: 1;
}

#restart {
width:100px;
height: 100px;	
border: solid blue;
flex: 1;
}
