#container {
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
}

#round {
width: 113em;
height: 20%;
flex: 1;
text-align: center;
}

#banner {
width:113em;
height: 20%;;
flex: 1;
text-align: center;
}

#rps {
width: 24em;
height: 20em;
display: flex;	
flex: 1;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
text-align: center;
}

#rockdiv {
width: 8em;
height: 3em;
flex: 1;
}

#paperdiv {
width: 8em;
height: 3em;
flex: 1;
}

#scissorsdiv {
width: 8em;
height: 3em;
flex: 1;
}

#score {
width: 16em;
height: 10em;
display: flex;
flex: 1;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
}

#cscore {
width: 8em;
height: 3em;
flex: 1;
text-align: center;
}

#pscore {
width: 8em;
height: 3em;	
flex: 1;
text-align: center;
}

#restart {
width: 10em;
height: 2em;	
flex: 1;
text-align: center;
}
